/*CSS 파일 주석*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
h1{
    color:#f09d29;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 20px;
}
h3{
    color:rgb(23, 142, 211);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
p{
    color: blueviolet;
    font-size: 16px;
}
.main_text{
    color:#ff4500;
    font-size: 25px;
}
#special{
    color: green;
    font-size: 19px;
}
.grid{
    display: grid;
    grid-template-columns: 400px 2fr;
    grid-template-rows: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 80px;
}
.목차{
    padding-left: 50px;
    font-size: 70px;
}
.내용{
    padding-left: 50px;
}

    .image-container {
        position: relative;
        display: inline-block;
    }

    .image-container img {
        display: block;
    }

    .image-container h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px 20px;
    }
    main {
        margin-bottom: 20px;
            }
        
    .content {
        margin-bottom: 20px;
            }
    .tr {
        max-width: 10px;
        height: auto;
        padding-left: 100px;
    }
.accordion-item {
    padding-bottom: 50px;
}